/* MEDIA QUERIES */
/* Media query for max-width 1400px */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

/* Media query for max-width 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  #about_section__pic-container {
    width: 230px;
    height: 278px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
  
  .text-container {
    text-align: justify;
    margin-bottom: 30px;
  }
}

/* Media query for max-width 600px */
@media screen and (max-width: 600px) {
  /* CONTACT AND FOOTER SECTIONS */
  #contact,
  footer {
    height: auto;
    padding: 1rem 0;
  }

  .contact-info-upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  footer p {
    font-size: 1rem;
  }

  /* PROFILE SECTION */
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  .section__pic-container.profile-pic {
    width: auto;
    height: 46vw;
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
  }

  /* OTHER SECTIONS */
  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .btn-container,
  .experience-details-container {
    flex-wrap: wrap;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container.about-pic {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}
